@import 'tailwindcss';
@import '@nuxt/ui';

.page-enter-active,
.page-leave-active {
  @apply transition-all duration-300 ease-in-out;
}
.page-enter-from,
.page-leave-to {
  @apply opacity-0 scale-95;
}

/* rich text editor overrides */

#rich-text-editor {
    .ql-snow.ql-toolbar button:hover, .ql-snow .ql-toolbar button:hover, .ql-snow.ql-toolbar button:focus, .ql-snow .ql-toolbar button:focus, .ql-snow.ql-toolbar .ql-picker-label:hover, .ql-snow .ql-toolbar .ql-picker-label:hover, .ql-snow.ql-toolbar .ql-picker-item:hover, .ql-snow .ql-toolbar .ql-picker-item:hover {
        background: inherit;
    }

    .ql-container {
        font-size: 16px;

        &.ql-snow {
            @apply rounded-md border-0 ring ring-inset ring-accented focus-visible:ring-2 focus-visible:ring-inset focus-visible:ring-primary
        }
    }

    .ql-toolbar.ql-snow {
        border: 0;
    }

    .ql-editor {
        min-height: 200px;

        &.ql-blank::before {
            @apply text-dimmed;
        }
    }

    .ql-snow .ql-editor h6 {
        font-size: 1em;
    }
}
